<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <File name="RightMessage" fileName="logs/rightMessage.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY"/>
            </Filters>
        </File>
        <File name="WarnMessage" fileName="logs/warnMessage.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STATIONS"/>
            </Filters>
        </File>
        <File name="ErrorMessage" fileName="logs/errorMessage.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="error"  />
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref = "RightMessage" />
            <appender-ref ref="WarnMessage" />
            <appender-ref ref="ErrorMessage" />
        </root>
    </loggers>

</configuration>
